#benefit-section {
    width: 100%;
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    background-color: var(--errigal-white);
}

@media (min-width: 768px) {
    #benefit-section {
        flex-direction: row;
        flex-wrap: wrap;
    }
} /* tablets */
