.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 1vh;
}

.card-container > figure {
    width: 50%;
    margin: 6px auto;
}

.card-container > figure > img {
    width: 100%;
    border-radius: 6px;
}

.card-text {
    width: 60%;
}

@media (min-width: 768px) {
    .card-container {
        width: 33%;
    }

    .card-container > figure {
        width: 65%;
        /* margin: 6px auto; */
    }

    .card-text {
        width: 75%;
    }
} /* tablets */
