footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1vh;
    padding: 6px 0px;
    background-color: var(--speed-of-light);
}

#logo-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#footer-logo-container {
    width: 35%;
    margin: 0 auto;
    padding: 0px 6px;
}

#footer-logo-container > img {
    width: 100%;
    height: 100%;
}

#footer-link-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 6px;
}

#footer-link-container > li {
    font-size: 0.6rem;
    font-family: "Instrument Sans";
    color: var(--swamp-fox);
}

#footer-link-container > li:hover {
    text-decoration: underline;
}


@media (min-width: 576px) {
    #footer-link-container > li {
        font-size: 0.8rem;
    }
} /* landscape phones */

@media (min-width: 768px) {
    #logo-link-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;
        gap: 30%;
    }

    #footer-logo-container {
        padding-left: 6px;
    }

    #footer-link-container {
        padding-right: 6px;
        justify-content: space-between;
        align-items: flex-end;
    }

} /* tablets */

@media (min-width: 992px) {
    #footer-link-container > li {
        font-size: 1rem;
    }
} /* desktops */
