#hero-section {
    width: 100%;
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    background-color: var(--errigal-white);
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1vh;
    align-items: center;
    text-align: center;
}

#hero-img-container {
    /* padding: 0; */
    margin: 6px auto;
    width: 80%;
}

#hero-img-container > img {
    width: 100%;
    border-radius: 12px;
}

@media (min-width: 768px) {
    #hero-img-container {
        width: 55%;
    }
} /* tablets */

@media (min-width: 992px) {
    #hero-img-container {
        width: 70%;
    }

    #hero-text-container > button {
        margin: 12px auto;
    }
} /* desktops */
