body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --speed-of-light: #f6f4f0;
  --classic-chalk: #f5f3f0;
  --errigal-white: #f0f2f5;
  --brassy-brass: #755b26;
  --swamp-fox: #b59b67;
  --midnight-ocean: #0b254b;
  --chesty-bond: #4e6ea0;
}


@media (min-width: 576px) {

} /* landscape phones */

@media (min-width: 768px) {

} /* tablets */

@media (min-width: 992px) {
  body {
    background-color: var(--brassy-brass);
  }
} /* desktops */

@media (min-width: 1200px) {

} /* large desktops */

@media (min-width: 1400px) {

} /* larger desktops */