body {
  margin: 0;
  display: flex;
  place-items: center;
}

:root {
  --speed-of-light: #f6f4f0;
  --classic-chalk: #f5f3f0;
  --errigal-white: #f0f2f5;
  --brassy-brass: #755b26;
  --swamp-fox: #b59b67;
  --midnight-ocean: #0b254b;
  --chesty-bond: #4e6ea0;
  --pearly-purple: #b56795;
  --antique-fuschia: #8b667b;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

@media (min-width: 992px) {
  body {
    background-image: url('../assets/bkgd-plants.webp');
    background-size: cover;
  }
}
