.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}