#socials {
    width: 100%;
    min-height: 1vh;
    background-color: var(--speed-of-light);
    /* padding: 0; */
}

#socials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#socials-container > figure {
    margin: 6px auto;
}

#socials-container > figure > img {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

@media (min-width: 992px) {
    #socials-container > figure > img {
        width: 3rem;
        height: 3rem;
    }
} /* desktops */
